<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
      <% if(userId) { %>
        <%- include('./logout.ejs') %>
         <%} else { %> 
          <div>
            <a href='/urls/login 'style="color:white;opacity:50%;font-size: 1rem;">Login</a>
            <a href='/urls/register' style="color:white;margin-left:5px;opacity:50%;font-size: 1rem;">Register</a>
          </div>
     <% } %> 
    </nav>
  </header>