<form action="/login" method="post" style="float:right;">
    <label for="username" style="margin: 3px;">Username:</label>
    <input type="text" name="username" placeholder="your usename"/>
    <button style="margin: 3px;" class="btn btn-success">submit</button>
  </form>