
<form action="/logout" method="post" style="float:right;">
  <h6 style="margin:5px;float: left;">welcome to tinyapp mr.<%= users[userId].username %></h6>
  <button style="margin: 3px;display: inline;float: right;" class="btn btn-success">logout</button>
</form>